@using TourMaster.Models
@model IEnumerable<User>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">Under Construction</h2>
<h1 class="text-center text-warning"><i class="icon-wrench"></i></h1>

